.g-wrapper {
  .g-container {
    @extend .paddings;
    @extend .innerWidth;

    .inner-container {
      @extend .flexColCenter;
      gap: 1.5rem;
      background-color: #4161df;
      padding: 2rem;
      border-radius: 10px;
      border: 6px solid #5d77d6;
      text-align: center;
      & > span:nth-child(1) {
        @extend .primaryText;
        color: white;
        font-weight: 600;
      }
      & > span:nth-child(2) {
        @extend .secondaryText;
        color: rgba(255, 255, 255, 0.587);
      }
    }

    .contact-btn {
      @extend .button;
      background: #5a73d7;

      border: 2px solid white;
      box-shadow: var(--shadow);
      border-radius: 10px;
    }
  }
}
