.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  z-index: 1;

  .hero-container {
    @extend .paddings;
    @extend .innerWidth;
    @extend .flexCenter;

    justify-content: space-around;
    align-items: flex-end;

    @media (max-width: 640px) {
      margin-top: 2rem;
    }

    .hero-left {
      @extend .flexColStart;
      gap: 3rem;

      .hero-title {
        position: relative;
        z-index: 1;

        .orange-circle {
          height: 4rem;
          width: 4rem;
          background: var(--orange-gradient);
          border-radius: 50%;
          position: absolute;
          right: 28%;
          top: -10%;
          z-index: -1;
        }

        h1 {
          font-weight: 600;
          font-size: 3.8rem;
          line-height: 4rem;

          @media (max-width: 640px) {
            font-size: 2.5rem;
            line-height: 3rem;
          }
        }
      }
      .hero-des {
        @extend .flexColStart;

        * {
          @extend .secondaryText;
        }
      }

      .search-bar {
        @extend .flexCenter;

        background-color: white;
        border-radius: 5px;
        border: 3px solid rgba(120, 120, 120, 0.374);
        padding: 0.5rem 1rem;
        justify-content: space-between;
        width: 100%;

        input {
          border: none;
          outline: none;
        }

        button {
          @extend .button;
        }
      }

      .stats {
        @extend .flexCenter;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 640px) {
          justify-content: center;
          gap: 1.5rem;
        }

        .stat {
          @extend .flexColCenter;

          & > :nth-child(1) {
            font-size: 2rem;

            @media (max-width: 640px) {
              font-size: 1.5rem;
            }

            & > :last-child {
              color: orange;
            }
          }
          & > :nth-child(2) {
            @extend .secondaryText;
            @media (max-width: 640px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .hero-right {
      @extend .flexCenter;

      @media (max-width: 640px) {
        width: 100%;
      }

      .image-container {
        width: 30rem;
        height: 35rem;
        overflow: hidden;
        border-radius: 15rem 15rem 0 0;
        border: 8px solid rgb(255, 255, 255, 0.12);

        @media (max-width: 640px) {
          width: 95%;
          height: 25rem;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// @media (max-width: 640px) {
// }
